- unless @product.preferred_prevent_buying_on_expire && Time.now > @product.expiry_date
  #product-price
    %h6.product-section-title= t(:price)
    %div
      %span.price.selling{:itemprop => "price"}= @product.price_in(current_currency).display_price
  .add-to-cart
    - if @product.on_sale?
      = number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => 'title', :in => 1..@product.on_hand, :min => 1
      = button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do
        = t(:add_to_cart)
    - else
      = content_tag('strong', t(:out_of_stock))
